@{

}

<h1>Add Cheese</h1>

<div class="text-danger">@ViewBag.error</div>

<form method="post">
    <p><input name="name" type="text" placeholder="Cheese"/></p>
    <p><textarea name="description" placeholder="Description"></textarea></p>
    <input type="submit" value="Add Cheese" />
</form>
