@{

}

<h1>My Cheese</h1>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>


@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet.</p>
}


@foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
{
    <p>Name: @cheese.Key </p>
    <p>Description: @cheese.Value</p>
    <p>-----------</p>
}

<p><a asp-controller="Cheese" asp-action="Remove">Remove Cheese</a></p>

