@{

}

<h1>Remove Cheeses</h1>

        <form method="post">

            @*  Dropdown menu
                <select name="name">
                    @foreach (KeyValuePair<string, string> cheese in ViewBag.cheeses)
                    {
                        <option value="@cheese.Key">@cheese.Key</option>
                    }
                </select>*@


            @foreach (Cheese cheese in ViewBag.cheeses)
            {
                <div>
                    <input name="names" value="@cheese.Name" type="checkbox" /><span>  @cheese.Name</span>
                </div>


            }

            <input type="submit" value="Remove Cheese" />


        </form>
